@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Animal Shelter Road<br />
    PassantRoad, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    123.456.7891
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:AnimalShelter@example.com">AnimalShelter@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:AnimalShelterMarketing@example.com">AnimalShelterMarketing@example.com</a>
</address>