@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Animal Shelter</h1>
    <p class="lead">Welcome to the Animal Shelter where adoption of different animals can be made</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To see our different animals, check our animals page.
        </p>
    </div>
</div>